* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
section {
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
}
Span {
    font-size: 4rem;
    color: black;
    transform-style: preserve-3d;
    position: relative;
    color: transparent;
    
    
}
Span:before,
Span::after {
    content: attr(data-text);
    color: rgba(0,0,0,0.4);
    transform-origin: left ;
    position: absolute;
    top: 0;
    left: -1px;
    transition: 2s;
    text-shadow: -1px 1px 0 #000;
}
Span:after {
    color: rgba(255, 255, 255, 0.8);
} 
span:hover:after {
    transform: scale(1.1, 1) rotateY(-60deg);
}
Span:hover::before {
    transform: scale(1.3, 1) skew(0deg, 5deg);
}

@media (min-width:700px){
    Span {
        font-size: 12rem;
    }
}